div#photostream,
div#photo-show {
  div.photo {
    margin-bottom: 100px;
    img {
      display: block;
      margin: auto;
      border: 5px #000 solid;
    }
  }
}

div#paginator {
  text-align: center;
}
